@model PaginatedList<NewsArticle>

@{
    ViewData["Title"] = "Pending Articles";
}

<section class="d-flex flex-column align-items-center">
    <div class="align-self-start d-flex">
        <h3 class="fw-bolder">Pending News</h3>
        <hr class="flex-grow-1 mx-4">
    </div>
    <div class="d-flex justify-content-center align-content-center flex-wrap">
        @foreach (var item in Model)
        {
            <div class="card m-2" style="width: 18rem;">
                <div class="card-body">
                    <img src='~/@(item.ImageFilePath != null ? $"uploads/news-image/{item.ImageFilePath}" : "img/newspaper.png")'
                        class="img-fluid" alt="">
                    <a class="custom-simple-dark-link" asp-controller="NewsArticles" asp-action="ViewPending"
                    asp-route-newsArticle="@item.Id">
                        <h4>@item.Title</h4>
                    </a>
                    <div class="d-flex align-items-center">
                        <img src="~/img/user.png" class="img-fluid" style="width: 2rem; height: 2rem;" alt="">
                        <div class="ms-2">By @($"{item.Author.FirstName} {item.Author.LastName}")</div>
                    </div>
                </div>
            </div>
        }
    </div>

    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    @if (Model.TotalPages > 1)
    {
        <nav class="my-4">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link btn @prevDisabled" asp-controller="NewsArticles" asp-action="GetAllCreated"
                    asp-route-pageNumber="@(Model.PageIndex - 1)">Previous</a>
                </li>
                @for (int pageNum = 1; pageNum <= Model.TotalPages; pageNum++)
                {
                    <li class="page-item">
                        <a class='page-link btn @(Model.PageIndex == pageNum ? "disabled" : "")' asp-controller="NewsArticles"
                    asp-action="GetAllCreated" asp-route-pageNumber="@pageNum">@pageNum</a>
                    </li>
                }
                <li class="page-item">
                    <a class="page-link btn @nextDisabled" asp-controller="NewsArticles" asp-action="GetAllCreated"
                    asp-route-pageNumber="@(Model.PageIndex + 1)">Next</a>
                </li>
            </ul>
        </nav>
    }
</section>