@model PaginatedList<NewsArticle>

@{
    ViewData["Title"] = "Created News";
}

<section class="d-flex flex-column align-items-center">
    <div class="align-self-start d-flex">
        <h3 class="fw-bolder">My News Articles</h3>
    </div>
    <form class="align-self-end" method="GET" asp-action="GetAllCreated" asp-controller="NewsArticles">
        <div class="d-flex justify-content-between align-items-center my-2">
            <label for="newsArticleStatus" class="control-label fw-bold me-2">Status</label>
            <select name="newsArticleStatus" class="form-control me-2"
                asp-items="ViewBag.NewsArticleStatusList"></select>
            <input type="submit" value="Filter" class="btn btn-primary" />
        </div>
    </form>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <a asp-controller="NewsArticles" asp-action="Create" class="mb-4 custom-button-link p-2 rounded">
            <img src="~/img/add-news.png" class="img-fluid" style="width: 4rem; height: 4rem;" alt="">
            <div class="text-center">Create</div>
        </a>
    </div>
    <div class="d-flex justify-content-center align-content-center flex-wrap">
        @foreach (var item in Model)
        {
            <div class="custom-news-items m-2 rounded-3" style="width: 18rem;">
                @if (item.Status != NewsStatus.Approved)
                {
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton@{
                            @item.Id
}" data-bs-toggle="dropdown" aria-expanded="false">
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton@{
                            @item.Id
}">
                            <li>
                                <a class="dropdown-item" asp-controller="NewsArticles" asp-action="Delete"
                            asp-route-newsArticle="@item.Id">Delete</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="NewsArticles" asp-action="Edit"
                            asp-route-newsArticle="@item.Id">Update</a>
                            </li>
                        </ul>
                    </div>
                }
                <div class="card">
                    <div class="card-body">
                        <img src='~/@(item.ImageFilePath != null ? $"uploads/news-image/{item.ImageFilePath}" : "img/newspaper.png")'
                            class="img-fluid" alt="">
                        <a class="custom-simple-dark-link" asp-controller="NewsArticles" asp-action="Details"
                        asp-route-newsArticle="@item.Id">
                            <h4>@item.Title</h4>
                        </a>
                        <span
                            class='badge mb-4 @(item.Status == NewsStatus.Approved ? "bg-success" : item.Status == NewsStatus.Pending ? "bg-warning" : "bg-danger")'>@item.Status</span>
                        <div class="d-flex align-items-center">
                            <img src="~/img/user.png" class="img-fluid" style="width: 2rem; height: 2rem;" alt="">
                            <div class="ms-2">By @($"{item.Author.FirstName} {item.Author.LastName}")</div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    @if (Model.TotalPages > 1)
    {
        <nav class="my-4">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link btn @prevDisabled" asp-controller="NewsArticles" asp-action="GetAllCreated"
                    asp-route-pageNumber="@(Model.PageIndex - 1)"
                    asp-route-newsArticleStatus="@ViewBag.SelectedNewsArticleStatus">Previous</a>
                </li>
                @for (int pageNum = 1; pageNum <= Model.TotalPages; pageNum++)
                {
                    <li class="page-item">
                        <a class='page-link btn @(Model.PageIndex == pageNum ? "disabled" : "")' asp-controller="NewsArticles"
                    asp-action="GetAllCreated" asp-route-pageNumber="@pageNum"
                    asp-route-newsArticleStatus="@ViewBag.SelectedNewsArticleStatus">@pageNum</a>
                    </li>
                }
                <li class="page-item">
                    <a class="page-link btn @nextDisabled" asp-controller="NewsArticles" asp-action="GetAllCreated"
                    asp-route-pageNumber="@(Model.PageIndex + 1)"
                    asp-route-newsArticleStatus="@ViewBag.SelectedNewsArticleStatus">Next</a>
                </li>
            </ul>
        </nav>
    }
</section>
