@model HomepageViewModel

@{
    ViewData["Title"] = "Home";
}

<section class="mb-4">
    <div class="d-flex">
        <h3 class="fw-bolder">Currency</h3>
        <hr class="flex-grow-1 mx-4">
    </div>
    <div class="d-flex justify-content-center my-4">
        @if (Model.Currency.Rates != null)
        {
            <div class="flex-fill card">
                <div class="card-body">
                    <dd>Base</dd>
                    <dt>
                        <h4>PHP</h4>
                    </dt>
                </div>
            </div>
            <div class="flex-fill card ms-2">
                <div class="card-body">
                    <dd>EUR</dd>
                    <dt>@Model.Currency.Rates.EUR</dt>
                </div>
            </div>
            <div class="flex-fill card ms-2">
                <div class="card-body">
                    <dd>JPY</dd>
                    <dt>@Model.Currency.Rates.JPY</dt>
                </div>
            </div>
            <div class="flex-fill card ms-2">
                <div class="card-body">
                    <dd>USD</dd>
                    <dt>@Model.Currency.Rates.USD</dt>
                </div>
            </div>
        }
        else
        {
            <div>Please try again later...</div>
        }
    </div>
    <a class="text-center custom-link" asp-controller="Rates" asp-action="Currency">View Currency</a>
</section>
<section class="mt-5 mb-4">
    <div class="d-flex">
        <h3 class="fw-boldeokieer">Stocks</h3>
        <hr class="flex-grow-1 mx-4">
    </div>
    <div class="d-flex justify-content-center my-4">
        @if (Model.Stock.Results != null)
        {
            @foreach (var stockVal in Model.Stock.Results)
            {
                <div class="flex-fill card ms-2">
                    <div class="card-body">
                        <dl>
                            <dd>Exchange Symbol</dd>
                            <dt>@stockVal.TradedUnderSymbol</dt>
                        </dl>
                        <dl class="mb-0">
                            <dd>H</dd>
                            <dt>@stockVal.HighestPrice</dt>
                        </dl>
                        <dl class="mb-0">
                            <dd>L</dd>
                            <dt>@stockVal.LowestPrice</dt>
                        </dl>
                    </div>
                </div>
            }
        }
        else
        {
            <div>Please try again later...</div>
        }
    </div>
    <a class="text-center custom-link" asp-controller="Rates" asp-action="Stocks">View Stocks</a>
</section>
<section class="mt-5 mb-4">
    <div class="d-flex">
        <h3 class="fw-bolder">Latest Finance News</h3>
        <hr class="flex-grow-1 mx-4">
    </div>
    <div class="d-flex justify-content-center align-content-center align-items-start flex-wrap my-4">
        @if (Model.LatestNews != null)
        {
            @foreach (var news in Model.LatestNews)
            {
                <a asp-controller="NewsArticles" asp-action="Details" asp-route-newsArticle="@news.Id"
                   class="flex-fill card m-2 custom-component-link" style="width: 18rem; height: 600px;">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center" style="min-height: 300px;">
                            <img src='~/@(news.ImageFilePath != null ? $"uploads/news-image/{news.ImageFilePath}" : "img/newspaper.png")'
                                 class="img-fluid" alt="">
                        </div>
                        <h4>@news.Title</h4>
                        <p>@Html.DisplayFor(model => news.CreatedAt)</p>
                        <div class="align-self-end">
                            <div class="d-flex align-items-center">
                                <img src="~/img/user.png" class="img-fluid" style="width: 2rem; height: 2rem;" alt="">
                                <div class="ms-2">By @($"{news.Author.FirstName} {news.Author.LastName}")</div>
                            </div>
                            @if (news.NewsArticleTypes != null)
                            {
                                <div class="mt-4">
                                    @foreach (var tag in news.NewsArticleTypes)
                                    {
                                        <span class="badge bg-secondary">@tag.NewsArticleTag.TagName</span>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </a>
            }
        }
        else
        {
            <div>Please try again later...</div>
        }
    </div>
    <a class="text-center custom-link" asp-controller="NewsArticles" asp-action="Index">View News</a>
</section>