@model Stock

@{
    ViewData["Title"] = "Stocks";
}

<section class="d-flex flex-column justify-content-center align-items-start">
    <div class="d-flex w-100">
        <h3 class="fw-bolder">Stocks</h3>
        <hr class="flex-grow-1 mx-4">
    </div>
    <table class="table rounded">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>V</th>
                <th>Vw</th>
                <th>OP</th>
                <th>CP</th>
                <th>HP</th>
                <th>LP</th>
                <th>UM</th>
                <th>NT</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Results != null)
            {
                @foreach (var stockVal in Model.Results)
                {
                    <tr>
                        <td>@stockVal.TradedUnderSymbol</td>
                        <td>@stockVal.Volume</td>
                        <td>@stockVal.VolumeWeighted</td>
                        <td>@stockVal.OpenPrice</td>
                        <td>@stockVal.ClosePrice</td>
                        <td>@stockVal.HighestPrice</td>
                        <td>@stockVal.LowestPrice</td>
                        <td>@stockVal.UnixMsecTimestamp</td>
                        <td>@stockVal.NumberOfTransactions</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="9" class="text-center">Please try again...</td>
                </tr>
            }
        </tbody>
    </table>
</section>