@model ApplicationUser

@{
    ViewData["Title"] = "Profile";
}

<section class="container d-flex flex-column align-items-center">
    <div class="text-center">
        <img src="~/img/user.png" class="img-fluid" style="width: 10rem; height: 10rem;" alt="">
        <p class="text-muted mt-4">@Html.DisplayNameFor(model => model.Id): @Html.DisplayFor(model => model.Id)</p>
    </div>
    <dl class="row custom-description-list">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @(Model.Gender == 'M' ? "Male" : "Female")
        </dd>
    </dl>
</section>